<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="musicBean"-->
<!--          class="com.xandr.springcourse.les05.ClassicalMusic">-->
<!--    </bean>-->

    <bean id="musicBean"
          class="com.xandr.springcourse.les05.RockMusic">
    </bean>

<!--    <bean id="musicBean"-->
<!--          class="com.xandr.springcourse.les05.PapMusic">-->
<!--    </bean>-->

    <bean id="musicPlayerBean"
          class="com.xandr.springcourse.les05.MusicPlayer">
<!--        DI-->
        <constructor-arg ref="musicBean"/>
    </bean>


</beans>